
{% extends 'service_app/base.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div style="width: 400px; margin: 50px auto" class="align-center">
    <h2 class="box-header">Регистрация</h2>

<form class="margin-top-30" method="post">
{% csrf_token %}
    <table class="table-form">
  {{ user_form}}
  {{ client_form}}
    </table>
  <input class="more margin-top-20 display-block submit-contact-form" type="submit" value="Отправить" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
