{% extends 'service_app/lk.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block lk_content %}

<div class="column column-3-4">
<h3 class="row align-center">Заявки</h3>
		<table class="margin-top-20">
			<tbody>
				<tr>
					<th>№ заявки</th>
					<th>Автомобиль</th>
					<th>Начало ремонта</th>
					<th>Конец ремонта</th>
					<th>Ответственный сотрудник</th>
					<th>Статус заявки</th>
				</tr>
				{% for i in orders  %}
				<tr>
					<th><a href="{% url 'orders_detail' pk=pk order=i.id %}">{{i.id}}</a></th>
					<th><a href="{% url 'orders_detail' pk=pk order=i.id %}">{{i.client_car}}</a></th>
					<th>{{i.registration_date}}</th>
					<th>{{i.execution_date}}</th>
					<th>{{i.employee}}</th>
					<th>{% if i.status %}Выполнено {%else%} Не выполнено{%endif%}</th>
				</tr>
				{% endfor %}

			</tbody>
		</table>
</div>
{% endblock %}
